@model Yacht.Models.Base

@{
    ViewData["Title"] = "Delete";
}

<h2>Obriši bazu</h2>

<h3>Želite li obrisati bazu?</h3>
<div>
    <h4>Base</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        <a asp-action="Index">Natrag na listu baza</a>
    </form>
</div>
